@import "../../../styles/editor-window-style";
@import "../../../styles/form";

:host {
  position: relative;
  top: 0%;
  left: 0%;
}

 .ghost-container {
  height: 100vh;
  width:100vw; 
  background-color:transparent;
 }
 .container {
  position: absolute;
  left: 50%;
  top: 50%;  
  color: $dark-green;   
  z-index: 300;
 }