//
// Colors
//
$blue:#106cc8 !default;
$black:black !default;
$gray:#35434c !default;
$green:#306d4e !default;
$red: red !default;
$white: white !default;
$transparent: #fafafa !default;
$light-gray: #8a8a8a !default;
$light-white: #fcfcfc !default; 
$dark-gray:#2c3942 !default;
$dark-green: darkgreen !default;
$dark-red: darkred !default;

$orange: #f0bf68 !default;
$light-yellow: #fffffb !default;
$ambar: #ebd1a5 !default;

//
// Typography
//
$font-family: Segoe UI Emoji, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif !default;
$font-size-root: 10px !default;
$font-size-base: 1.0rem !default;
$font-weight-base: 200 !default;
$text-color: $black !default;
//
$font-family-title: Open Sans, sans-serif;
$font-size-title: 1.5em;
$font-weight-title: 600;
$text-title: $gray !default;
//
$font-size-command: $font-size-base * 0.85;
$font-weight-command: 300;
//
$font-size-hint: $font-size-base * 0.75;
$font-weight-hint: 150;
$text-hint: $red !default;
//
$text-bold: lighten($text-color, 3%);
$text-muted: $gray !default;
$text-italic: italic;
//
// Elements colors
//
$background-color: $white !default;
$secondary-color: $red !default;
$secondary-text-color: $white !default;
$selected-item-text-color: $orange;
$link-color: $blue;
//
// icons
//
$primary-icon-color: SteelBlue;
$primary-icon-size: 16pt;
//
// editor-window
//
$editor-window-border: 1px solid #ccc;
$editor-window-background-color: $light-yellow;
//
// tabs
//
$tab-border: 1px solid #ccc;
$tab-background-color: #f1f1f1;
$tab-hover: #ddd;
$tab-selected: $orange;
$tab-font-size: 10px;
$tab-selected-background-color: $secondary-color;
//
// close-button
//
$close-button-color: $black;
$close-button-font-size: 28px;
$close-button-hover: $black;
//
// tab-form
//
$form-color: #6a6a6a;
$form-title-border: 1px dotted $gray;
$form-font-weight: 300;
$form-border-bottom:1px solid $black;
$form-title-color:$gray;
//
// html controls
//
$control-font: 8pt Tahoma, Arial, Helvetica;
$control-small-font: 6pt Tahoma, Arial, Helvetica;
$cancel-color: $red;
$action-color: $blue;
$warning-color: $orange;
$control-border: 1px solid #d0d0d0;
$control-background-color: #f0f0f0;
$control-color: $text-title;
$control-width: 99%;
$control-disabled-color: $text-title;
$control-disabled-background: #e6e6e6;
$control-height: 25px;
$button-background-color: #dadada;
$button-border: 0px solid #cecece;
$button-height: 28px;
$control-font: 8pt Arial, Helvetica;
$control-small-font: 6pt Arial, Helvetica;
//
// grid
//
$grid-border: none;
$grid-even-background-color: #fffffd;
$grid-odd-background-color: #eef7fa;
//
// rag-status
//
$rag-status-ambar: $ambar;
$rag-status-green: $green;
$rag-status-orange:$orange;
$rag-status-red: $red;
