@import "general-styles";
table.form td {
  color: $text-title;
  white-space: nowrap;
  vertical-align: text-top;
  font-size: 9pt;
}

table.form .top {
  vertical-align: top;
}

.form-container-text {
  color: $form-color;
  font-weight: $font-weight-command;
}

table.form .form-title {
  padding-top: 12pt;
  padding-bottom: 4pt;
}

table.form .form-title-text {
  color: $form-title-color;
  border-bottom: $form-title-border;
  font: $control-font;
}

.internal-form {
  margin: 0;
  padding: 0;
}

.form-footer {
  bottom: 0px;
  height: 52px;
  margin: 96px 1px 1px 1px;
  position: absolute;
  width: 99%;
  border-top: $form-border-bottom;
}

.border-bottom {
  border-bottom: $form-border-bottom;
}
