@import "variables";
table {
  border: none;
  font-size: 10pt;
  font-weight: normal;
  margin-left: 1em;
}

table td {
  white-space: normal;
  padding: 4pt;
}

table td:last-child {
  width: 100%;
}

button.btn {
  background-color: $button-background-color;
  color: $text-color;
  font-size: $font-size-hint;
  border: $button-border;
  height: $button-height;
  white-space: nowrap;
  padding: 4pt;
  height: 28px;
}

button.btn-cancel {
  background-color: $cancel-color;
  color: background-color;
}

button.btn-action {
  background-color: $action-color;
  color: $white;
  font: $control-font;
  font-weight: normal;
  font-size: 10pt;
  height: 28px;
  border: 1px solid #cecece;
  padding: 4pt;
}

button.btn-warning {
  background-color: $warning-color;
  color: $control-color;
  font: $control-font;
  font-weight: normal;
  font-size: 10pt;
  height: 28px;
  border: 1px solid #cecece;
  padding: 4pt;
}

@mixin input-settings {
  background-color: $control-background-color;
  border-top: $control-border;
  border-bottom: $control-border;
  border-left: $control-border;
  border-right: $control-border;
  color: $control-color;
  font: $control-font;
  font-weight: normal;
  margin: 2px 8px 2px 0;
  padding: 4px 2px 2px;
  vertical-align: middle;
  width: $control-width;
}

@mixin disabled-element {
  color: $control-disabled-color;
  background: $control-disabled-background;
}

select.select-box {
  @include input-settings;
  height: $control-height;
}

select.select-warning {
  @include input-settings;
  height: $control-height;
  background-color: $warning-color;
}

input.search-box {
  @include input-settings;
  /*background-image: url('../../../assets/icon/search-icon.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
  padding-left: 20px;*/
}

input.text-box {
  @include input-settings;
  height: $control-height;
}

.text-area {
  @include input-settings;
  resize: none;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small-italic-notification {
  font: $control-small-font;
  font-weight: $text-bold;
  font-style: $text-italic;
}

a {
  color: $link-color;
}

a:hover {
  color: $selected-item-text-color;
  cursor: pointer;
}

.popup {
  z-index: 1;
}

textarea:disabled {
  @include disabled-element;
}

input[type=text]:disabled {
  @include disabled-element;
}

input[type=number]:disabled {
  @include disabled-element;
}

select:disabled {
  @include disabled-element;
}

button:disabled {
  @include disabled-element();
}

.main-icon a {
  color: $primary-icon-color;
  font-size: $primary-icon-size;
  padding-right: 6pt;
}

.main-icon a {
  color: $primary-icon-color;
}

.main-icon a:hover {
  color: $selected-item-text-color;
}

.term-definition {
  border-bottom: 1px double $primary-icon-color;
  cursor: pointer;
}

.tag {
  background-color: rgb(124, 68, 161);
  border-radius: 4px;
  color: white;
  font-size: small;
  margin: .3em;
  border-radius: 4px;
  padding: 0 0.5em 0 0.5em;
}
