html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
  color: #333;
  font-size: 1em;
}

img {
  background-color: transparent;
}

.header_desarrollo {
  padding: 0.1em;
  margin: 0;
}

.menu_prin_vc {
  background-color: #2c3942;
  padding: 0.15em;
  margin: 0;
}

.titulo_principal {
  background-color: #2c3942;
  color: white;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-segob {
  height: 2.2em;
  padding-top: 0;
  margin-top: -14px;
  left: -8em;
  position: relative;
}

.contenedor-transparencia {
  border-radius: 6px;
}

.contenedor-transparencia * {
  background-color: #fafafa;
}

.contenedor-transparencia div {
  padding-bottom: 0.25em;
}

.contenedor-rojo {
  background-color: LavenderBlush;
  color: darkred;
  font-family: Segoe UI Emoji, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-weight: 400;
  border: 2px FireBrick solid;
}

.contenedor-rojo * {
  background-color: LavenderBlush;
  color: darkred;
  font-weight: 400;
}

.footer-separator {
  border-top: 1px solid darkred;
  padding-top: 1em;
}

.mainTitle {
  line-height: 1.1em;
  text-align: center;
  font-size: 1.5em;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  color: #35434c;
}

a {
  color: darkgreen;
  font-weight: 500;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #003300;
  text-decoration: underline;
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

.copyright {
  color: #888;
  line-height: inherit;
  font-size: 0.75em;
  padding-left: 2em;
}

#imgUpperLine {
  height: 24px;
  width: 100%;
  overflow: hidden;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 2em;
  background-color: #fcfcfc;
  outline: none;
  padding: 8px;
}

.label-value {
  color: #333;
  font-size: 0.95em;
  font-family: Segoe UI Emoji, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
  padding: 0;
}

.bold-text {
  font-weight: bold;
}

.new-error-section {
  color: white;
  background-color: red;
  line-height: 2em;
  font-weight: 600;
}

.new-section {
  color: white;
  background-color: #306d4e;
  font-weight: 600;
  padding: 0.25em;
  padding-left: 0.75em;
  border-radius: 0 0 6px 0;
}

.warning-status-text {
  color: darkred;
}

.ok-status-text {
  color: darkgreen;
}

.ok-status-text div {
  color: darkgreen;
}

b {
  color: darkgreen;
}

.in-process-status-text {
  color: rebeccapurple;
  font-weight: 600;
}

.mono-space-text {
  font-family: Courier New, Courier, monospace;
}

.small-text {
  font-size: 0.8em;
}

.enhanced-text {
  color: #306d4e;
  font-weight: bold;
}

label {
  color: #8a8a8a;
  font-family: Segoe UI Emoji, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
  padding-bottom: 0;
}

.small-label {
  color: #8a8a8a;
  font-size: 0.85em;
  padding-bottom: 0;
  padding-top: 0.5em;
  font-family: Segoe UI Emoji, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.left-indented {
  padding-left: 0.75em;
}

.button {
  border-radius: 6px;
  background-color: darkgreen;
}

.button:hover {
  background-color: #306d4e;
  text-decoration: none;
}
