<div class="row" style="border-bottom: 1px solid darkred;">
  <div class="small-5 columns">
    <img class='header_desarrollo' src="assets/img/customer-logo.png" alt='Construir y crecer juntos' />
  </div>
  <div class="small-7 columns">
    <div class="row">
      <div class="column column align-self-bottom">
        <span class="titulo_principal ">Firma electrónica</span>
      </div>
      <div class="column column align-self-bottom">
        <span class="titulo_principal show-for-medium">Registro Público de la Propiedad</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <angular-loader></angular-loader>
    <router-outlet></router-outlet>
  </div>
</div>
