@import "../../../styles/variables";
//
// Main layout scss
//
.body {
  display: flex;
  flex-direction: inline-flex; //column;
  height: 100vh;
  overflow: hidden;
}

.titulo_principal {
  color: #6a6a6a;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}
