@import "../../../styles/general-styles";
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 0;
  margin-bottom: 0;
}

li:hover {
  color: $white;
  background-color: #1E90FF;
}

.suggestions-div {
  position: absolute;
  min-height: 100px;
  overflow: auto;
  @include input-settings;
  width: 200px;
  z-index: 2;
}

.sugesstion-selected {
  background-color: rgb(71, 80, 151);
  color: $white;
}

.small-font {
  font-size: small;
}
