<div>
  <div>
    <input id="country" type="text" class="text-box" [(ngModel)]=query (keyup)=filter() (click)="onClick()">
  </div>
  <div *ngIf="filteredList.length > 0 && (!isHideControl)" class="suggestions-div">
    <ng-container>
      <ul *ngFor="let item of filteredList">
        <li *ngIf="item.selected" class="sugesstion-selected">
          <input type="checkbox" name="married" [checked]="item.selected" (change)="$event.target.checked? onSelectItem(item) : onUnselectItem(item)">{{item[config.valueField]}}
        </li>
      </ul>
      <ul *ngFor="let item of filteredList">
        <li *ngIf="!item.selected">
          <input type="checkbox" name="married" [checked]="item.selected" (change)="$event.target.checked? onSelectItem(item) : onUnselectItem(item)">{{item[config.valueField]}}
        </li>
      </ul>
    </ng-container>
  </div>
  <div *ngIf="isAddFlag && isWritable" class="suggestions-div">
    <span class="small-font"> No se encontrarón elementos</span> <br>
    <hr>
    <button (click)="addItem()">Agregar </button>
  </div>
</div>
