@import "../../../styles/_variables";
.circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
}

.ambar {
  background-color: $rag-status-ambar
}

.green {
  background: $rag-status-green;
}

.orange {
  background-color: $rag-status-orange;
}

.red {
  background: $rag-status-red;
}
