<div class="nav-bar">
  <ul>
    <li>
      <a href="#" class="logo"><img class="logo" src="assets/img/customer-logo-white-vertical.png" alt="Gobierno del Estado de Tlaxcala" /></a>
    </li>
    <li [class.selected]="selectedOption === 'home'">
      <a [routerLink]="['/home/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('home')"><i class="fa fa-home fa-2x" aria-hidden="true"></i><br><label>Home</label></a>
    </li>
    <li [class.selected]="selectedOption === 'tasks'">
      <a [routerLink]="['/projects/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('tasks')">
        <i class="fa fa-list fa-2x" aria-hidden="true"></i><br><label>Tareas</label>
      </a>
    </li>
    <li [class.selected]="selectedOption === 'documents'">
      <a [routerLink]="['/procedures/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('documents')">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i><br><label>Documentos y reportes</label>
      </a>
    </li>
    <li [class.selected]="selectedOption === 'contracts'">
      <a [routerLink]="['/contracts/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('contracts')">
        <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i><br><label>Contratos y obligaciones</label>
      </a>
    </li>
    <li [class.selected]="selectedOption === 'library'">
      <a [routerLink]="['/documents/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('library')">
        <i class="fa fa-graduation-cap aria- fa-2x" aria-hidden="true"></i><br><label>Red de conocimiento</label>
      </a>
    </li>
    <li [class.selected]="selectedOption === 'helpdesk'">
      <a [routerLink]="['/process/editor']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="setSelectedStyle('helpdesk')">
        <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i><br><label>Help desk</label>
      </a>
    </li>
  </ul>
</div>
