<div class="row small-centered">
  <div class="columns small-12 ">
    <div [ngSwitch]="documentType" class="header">
      <div *ngSwitchCase="'pendingDocuments'">
        <input type="checkbox" name="isDocumentSelected" [(ngModel)]="isDocumentSelected" (change)="onChangeSelectedDocument()">
        <label>{{signRequests.length}} Documentos por firmar</label>
        <button type="button" class="button tiny show-for-small-only" (click)="setCommandName('sign')">Firmar</button>
        <button type="button" class="button show-for-medium" (click)="setCommandName('sign')">Firmar</button>
      </div>
      <div *ngSwitchCase="'signedDocuments'">
        <input type="checkbox"  name="isDocumentSelected" [(ngModel)]="isDocumentSelected" (change)="onChangeSelectedDocument()">
        <label>{{signRequests.length}} Documentos firmados</label>
        <button type="button" class="button tiny show-for-small-only" (click)="setCommandName('revoke')">Revocar</button>

        <button type="button" class="button small show-for-medium" (click)="setCommandName('revoke')">Revocar</button>
      </div>
      <div *ngSwitchCase="'revokedDocuments'">
        <input type="checkbox" name="isDocumentSelected" [(ngModel)]="isDocumentSelected" (change)="onChangeSelectedDocument()">
        <label>{{signRequests.length}} Documentos revocados</label>
        <button type="button" class="button tiny show-for-small-only" (click)="setCommandName('sign')">Firmar de nuevo</button>

        <button type="button" class="button small show-for-medium" (click)="setCommandName('sign')">Firmar de nuevo</button>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="columns small-12 small-centered">
    <div class="grid">
      <ul>
        <li *ngFor="let signRequest of signRequests" [class.selected-item]="signRequest.uid === selectedSignRequestUID">

          <div [ngSwitch]="documentType">
            <input type="checkbox"  [checked]="signRequest.selected" [(ngModel)]="isSignRequest"
                   (change)= "onChangeSignRequest(signRequest)">

            <ng-container *ngSwitchCase="'pendingDocuments'">
              <label class="title-tag pending-documents-tag"
                     [class.document-type-label]="signRequest.selected"
                     (click)="openDocumentViewer(signRequest)">
                <i class="fa fa-file"></i> {{signRequest.document.documentNo}}
              </label>
              <label class="subtitle-tag pending-documents-tag"
                     [class.selected-name-label]="signRequest.selected">{{signRequest.filing.filedBy}}
              </label>
            </ng-container>

            <ng-container *ngSwitchCase="'signedDocuments'">
              <label class="title-tag signed-documents-tag"
                     [class.selected-name-label]="signRequest.selected"
                     (click)="openDocumentViewer(signRequest)">
                <i class="fa fa-edit"></i> {{signRequest.document.documentNo}}
              </label>
              <label class="subtitle-tag signed-documents-tag"
                     [class.selected-name-label]="signRequest.selected">{{signRequest.filing.filedBy}}
              </label>
            </ng-container>

            <ng-container *ngSwitchCase="'revokedDocuments'">
              <label class="title-tag revoked-documents-tag"
                     [class.selected-name-label]="signRequest.selected"
                     (click)="openDocumentViewer(signRequest)">
                <i class="fa fa-times revoked-event-tag"></i> {{signRequest.document.documentNo}}
              </label>
              <label class="subtitle-tag revoked-documents-tag"
                     [class.selected-name-label]="signRequest.selected">{{signRequest.filing.filedBy}}
              </label>
            </ng-container>
          </div>

          <div style="padding-left: 20px;">
            <label class="document-type-label"
                  [class.selected-document-type-label]="signRequest.selected">{{signRequest.document.type}}
            </label>
            <div class='document-description-tag ' [innerHtml]='signRequest.document.description'></div>
            <br>
            <label class='requested-tag' [class.selected-small-label]="signRequest.selected">
              {{signRequest.requestedTime | date: 'dd-MMM-yyyy' }} | {{signRequest.requestedBy}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="isCommandWindowVisible" class="popup">
  <emp-one-esign-signature
      [signRequests]="selectedSignRequests"
      [commandName]="commandName"
      (closeWindow)="closeCommandWindow();"
      (save)="updateDocuments()">
  </emp-one-esign-signature>
</div>
