<div class="ghost-container" *ngIf="visible">

  <div class="container" >

      <div class="header">
          <div class="close-button right-position"
               (click)="close()">&times;</div>

          <div class="title">{{ title }}</div>

      </div>

      <div class="line-division"></div>

      <p class="message"
         [innerHTML]="message | html"></p>

      <button *ngIf="confirmWindow" type="button" class="btn accept-button"
              (click)="close()">Cancelar</button>
      <button type="button" class="btn-action accept-button"
              (click)="accept()">Aceptar</button>


  </div>

</div>
