<div id="outer" class="form-container-text">
  <div id="login-div">
    <div class="left-column">
      <div>
        <img class="logo" src="../../assets/img/customer-logo.png" alt="Gobierno del Estado de Tlaxcala" />
      </div>
    </div>
    <div class="central-column"></div>
    <div class="right-column">
      <div class="authentication-section-welcome">
        <span><b>Bienvenidos</b></span><br>
        <span class="hint">Ingresar el nombre de usuario y la contraseña registrada</span>
      </div>
      <div class="authentication-section-form">
        <label>Usuario o correo:</label>
        <input class="text-box" placeholder="Usuario o correo" (input)="userID=$event.target.value">
        <label>Contraseña:</label>
        <input class="text-box" type="password" placeholder="Contraseña" (input)="password=$event.target.value">
        <br><br>
        <button type="button" style="width:84px" class="btn-warning" (click)="authenticate();">Ingresar</button>
      </div>
      <div class="authentication-section-footer">
        <a href="#" (click)="onClickResetCredentials();">Olvidé la contraseña</a><br>
        <a href="#">Crear una cuenta</a>
      </div>
    </div>
  </div>
</div>
