@import "../../../styles/variables";
@import "../../../styles/general-styles";
//
// User login scss
//
#outer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  color: $text-title;
}

#login-div {
  display: flex;
  height: 300px;
  width: 400px;
}

.left-column {
  height: 300px;
  width: 180px;
}

.logo {
  height: 60px;
}

.central-column {
  height: 300px;
  width: 20px;
  background-color: #9b1b1f;
}

.right-column {
  height: 300px;
  width: 200px;
}

.authentication-section-welcome {
  padding-top: 12px;
  padding-left: 12px;
  font-size: 15pt;
  line-height: 12pt;
}

.authentication-section-form {
  padding-left: 12px;
  padding-top: 12px;
}

.authentication-section-footer {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 10pt;
}

label {
  font-size: 10pt;
  font-weight: 500;
}

.hint {
  font-size: 10pt;
  line-height: 4px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #efefef inset;
}
